<mat-card *ngIf="agreement">
    <mat-card-header>
      <mat-card-title *ngIf="agreement.name">{{agreement.name}}</mat-card-title>
      <mat-card-subtitle *ngIf="agreement.href">{{agreement.href}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="agreement.agreementPeriod">Period: {{agreement.agreementPeriod}}</p>
      <p *ngIf="agreement.agreementType">Type: {{agreement.agreementType}}</p>
      <p *ngIf="agreement.completionDate">CompletionDate: {{agreement.completionDate}}</p>
      <p *ngIf="agreement.description">Description: {{agreement.description}}</p>
      <p *ngIf="agreement.documentNumber">DocumentNumber: {{agreement.documentNumber}}</p>
      <p *ngIf="agreement.statementOfIntent">Statement Of Intent: {{agreement.statementOfIntent}}</p>
      <p *ngIf="agreement.version">Version: {{agreement.version}}</p>
      <p *ngIf="agreement.status">Status: {{agreement.status}}</p>
      <p *ngIf="agreement.initialDate">Initial Date: {{agreement.initialDate}}</p>
      <app-agreement-specification-ref></app-agreement-specification-ref>
      <button (click)="openDialog(agreement.id)">Update</button>
      <button (click)="onDelete(agreement)">Delete</button>
    </mat-card-content>
</mat-card>
